* {
    list-style:none;
    box-sizing:border-box;
  }
  
  /* main styles */
  body {
    background:black;
    color:white;
  }
  
  .container { 
    border:5px solid black;
    height:60px;
    width:100vw;
    display:flex;
    justify-content:space-between;
  }
  div{
    height:49px;
    width:49px;
    margin-left:7px;
    }
  
  img {
    max-width:50px;
    max-height:49px;
    display:block;
  }
  
  nav {
    height:49px;
    width:200px;
    display:flex;
    justify-content:space-around;
    align-self:center;
    padding-right:15px;
  }
  
  .link1,.link2,.link3 {
    padding-right:20px;
    margin-right:20px;
    text-align:center;
  }